

header {
  .header-CTA {
    background: url(/components/img/header4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

            #title {
                font-family: "Montserrat", "Poppins", sans-serif;
                font-weight: 800;
                font-size: 4rem;
                letter-spacing: 0.05rem;
                padding: 20px;
                background-color: rgba(240, 255, 255, 0.411);
                display: flex;

                #food {
                    color: var(--food-color);
                }

                #guid {
                    color: var(--guid-color);
                }

                #mark {
                    margin-left: 0.1em; 

                    img {
                        width: 1.2em; // proportionnel au texte
                        opacity: 0;
                        transform: translateY(0.07em) scale(0.9);
                        transition: opacity 0.4s ease, transform 0.4s ease;
                    }

                    &.show img {
                        opacity: 1;
                        transform: translateY(0.07em) scale(1);
                    }
                }    
            }
        }
}

